body {
    font-family: 'Varela Round', sans-serif;
}

.heading {
    &__h1--dark {
        font-size: 3.6rem;
        font-weight: 600;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        margin: 5rem 0 1rem 0;
        color: #444;
    }
    &__h2--light {
        font-size: 2.2rem;
        font-weight: 400;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        margin: 0 0 5rem 0;
        color: #a9a9a9;
    }
    &__h2--dark {
        font-size: 2.8rem;
        font-weight: 400;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        margin: 3.5rem 0;
        color: #444;
    }
    &__h4-dark {
        font-size: 3rem;
    }
}

.paragraph {
    padding: 2.5rem 0;
    text-align: center;
    &__p--dark {
        font-size: 1.9rem;
    }
    &__p--light {
        font-size: 1.9rem;
        color: #a9a9a9;
    }
    &__p--dark {
        color: #444;
        font-size: 1.9rem;
    }
    &__p--dark--sm {
        color: #444;
        font-size: 1.3rem;
    }
}