.navbar {
    height: 15vh;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    &__logo {
        margin-left: 1rem;
    }
    &__btn--solid-md {
        margin-right: 2rem;
        padding: 1rem 2.5rem;
        border: none;
        // background-color: #6EBDFF;
        // background-color: #0091FF;
        background-image: linear-gradient(to right bottom, #0091ff, #00a4ff, #2bb5ff, #52c6ff, #76d5ff);
        color: #fff;
        font-size: 2rem;
        font-family: 'Varela Round', sans-serif;
        letter-spacing: 1.9;
        border-radius: 4rem;
        box-shadow: 1px 2px 15px 1px rgba(110,189,255,0.8);
    }
    &__menu-items {
       margin-left: auto;
       display: flex;
    }
    &__nav-menu-mobile {
        margin-right: 2rem;
    }
}

.fa-bars {
    font-size: 4rem;
}